*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: Roboto;
    src: url(../fonts/ofont.ru_Roboto.ttf);
}

body{
    background-color: #fdc05e;
    font-family: Roboto;
}

main{
    width: 70%;
    padding: 50px;
    margin: auto;
    background-color: #e5ed70;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow:0 0 10px 1px rgb(0, 0, 0);
}

.photo{
    width: calc(50% - 40px);
    height: calc((35vw - 40px)/16*9);
    background-color: #fdc05e;
    margin: 20px;
    background-position: center;
    background-size: cover;
    box-shadow:0 0 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    transition: all 0.5s ease;
}

.photo:hover{
    transform: rotate(3deg) scale(1.07);
    box-shadow:0 0 10px 1px rgba(0, 0, 0, 0.4);
}

h1{
    width: 100%;
    text-align: center;
    font-size: 48px;
}

.photo1{
    background-image: url(../img/1.jpg);
}
.photo2{
    background-image: url(../img/2.webp);
}
.photo3{
    background-image: url(../img/3.jpg);
}
.photo4{
    background-image: url(../img/4.jpg);
}
.photo5{
    background-image: url(../img/5.webp);
}
.photo6{
    background-image: url(../img/6.jpg);
}
.photo7{
    background-image: url(../img/7.jpg);
}
.photo8{
    background-image: url(../img/8.jpg);
}
.photo9{
    background-image: url(../img/9.webp);
}
.photo10{
    background-image: url(../img/10.jpg);
}